@layer components {
  .btn {
    @apply inline-flex justify-center border-[1px] border-primary font-bold tracking-widest uppercase;
    line-height: 1;
    transition: all 0.3s ease;

    &:hover {
      @apply shadow-lg;
    }

    &--lg {
      font-size: 0.875rem;
      @apply py-2 px-2.5 rounded-md;

      .c-icon {
        @apply mr-4 w-5 h-5;
      }
    }

    &--md {
      font-size: 0.75rem;
      @apply py-1.5 px-2 rounded-md;

      .c-icon {
        @apply mr-3 w-4 h-4;
      }
    }

    &--sm {
      font-size: 0.625rem;
      @apply py-1.5 px-1.5 rounded-md;

      .c-icon {
        @apply mr-2 w-3 h-3;
      }
    }

    &--primary {
      @apply bg-primary text-white;
    }

    &--secondary {
      @apply bg-transparent text-primary;
    }

    &--outlined {
      @apply bg-transparent border-white text-white;
    }

    &--link {
      @apply relative text-accent border-0 bg-transparent px-0 space-x-2;

      &:after {
        @apply content-[''] absolute -bottom-1 left-0 right-0 h-[2px] bg-accent opacity-0;
        transition: all 0.3s ease;
      }

      &:hover {
        @apply !shadow-none;

        &:after {
          @apply -bottom-0.5 opacity-100;
        }
      }

      .c-footer & {
        @apply text-primary font-normal tracking-wider;

        &:after {
          @apply bg-text;
        }
      }
    }

    &--noHover {
      &:hover {
        @apply !shadow-none;

        &:after {
          @apply !opacity-0;
        }
      }
    }

    &--tab {
      @apply relative inline-flex font-serif text-primary border-0 bg-transparent space-x-2 py-4 px-8;

      &:after {
        @apply content-[''] absolute -bottom-1 left-0 right-0 h-[2px] bg-accent opacity-0;
        transition: all 0.3s ease;
      }

      &:hover {
        @apply !shadow-none;
      }

      &:not(.active) {
        &:hover {
          &:after {
            @apply -bottom-0.5 opacity-100;
          }
        }
      }

      &.active {
        @apply text-accent;

        &:after {
          @apply -bottom-0.5 opacity-100;
        }
      }
    }

    &--dropdown {
      @apply relative py-2 px-4 flex flex-row justify-between items-center w-full;
    }

    &--filter {
      @apply bg-transparent border-text text-primary;

      &.active {
        @apply bg-accent border-accent text-white
      }
    }
  }
}
