@layer components {
  select {
    @apply appearance-none !outline-none cursor-pointer shadow-none focus:!outline-none;
    @apply rounded-none border-b-[1px] border-text text-current bg-transparent hover:bg-text hover:text-white;
    @apply relative py-2 px-4 inline-flex flex-row justify-between items-center w-full;
    background: url('data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjUxMiIgdmlld0JveD0iMCAwIDUxMiA1MTIiIHdpZHRoPSI1MTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0ibTExMiAxODQgMTQ0IDE0NCAxNDQtMTQ0IiBmaWxsPSJub25lIiBzdHJva2U9IiNFM0RFRDgiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSI0OCIvPjwvc3ZnPg==') no-repeat right 1rem center;
    background-size: 1rem;
  }

  select:focus {
    outline: none !important;
    background: url('data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjUxMiIgdmlld0JveD0iMCAwIDUxMiA1MTIiIHdpZHRoPSI1MTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0ibTExMiAzMjggMTQ0LTE0NCAxNDQgMTQ0IiBmaWxsPSJub25lIiBzdHJva2U9IiNFM0RFRDgiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSI0OCIvPjwvc3ZnPg==') no-repeat right 1rem center;
    background-size: 1rem;
  }

  select:focus:valid {
    background: url('data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjUxMiIgdmlld0JveD0iMCAwIDUxMiA1MTIiIHdpZHRoPSI1MTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0ibTExMiAxODQgMTQ0IDE0NCAxNDQtMTQ0IiBmaWxsPSJub25lIiBzdHJva2U9IiNFM0RFRDgiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSI0OCIvPjwvc3ZnPg==') no-repeat right 1rem center;
    background-size: 1rem;
  }
}
