{# >>> Comp Defaults #}
{% set compDefaults = {
  data: {
    name: 'c-preloader',
    svgName: 'logo',
  },
  classes: {
    root: 'js-preloader pointer-none bg-primary',
    custom: 'flex-col justify-center text-center',
    svg: 'js-svgPreloader',
    counter: 'js-counterPreloader',
  },
} %}

{# >>> Merge data / classes / variants (optional) #}
{% set props = {
  data: data is defined and data is iterable ? compDefaults.data | merge(data) : compDefaults.data,
  classes: classes is defined and classes is iterable ? compDefaults.classes | merge(classes) : compDefaults.classes,
} %}

{# Modul #}
<div class="{{ props.data.name }} {{ props.classes.root }}  {{ props.classes.custom }}"
    style="opacity: 0;">
  {# Logo #}
  {{
    svg("@webroot/dist/images/svg/" ~ props.data.svgName ~ ".svg")|attr({
      class: props.classes.svg
    })
  }}
</div>
